 @model List<UNIManagement.Entities.ViewModel.TaskViewModel>

<div class=" d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <div id="kt_content_container" class="container-xxl">
            <div class="row" id="filter">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary" id="filterButton"> Filters </button>
                        </div>
                    </div>
                    <div class="card text-center" id="filterCard" style="display:none">
                        <div class="card-body pt-0">
                            <form id="taskformfilter">
                                <div class="row pt-10">
                                    <div class="col-md-4">
                                        <input name="filtertokennumber" type="text" data-kt-customer-table-filter="search" class="form-control " placeholder="TokenNumber" />
                                    </div>
                                    <div class="col-md-4">
                                        <input name="filtleremployeename" type="text" data-kt-customer-table-filter="search" class="form-control " placeholder="EmployeeName" />
                                    </div>
                                    <div class="col-md-4">
                                        <input name="filterprojectname" type="text" data-kt-customer-table-filter="search" class="form-control " placeholder="Project Name" />
                                    </div>
                                </div>
                                <div class="row pt-5">
                                    <div class="col-md-4">
                                        <select class="form-select" name="status">
                                            <option value=""> Status</option>
                                            <option value="start">Start</option>
                                            <option value="pending">Pending</option>
                                            <option value="end">End</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <input name="filterdate" type="date" class="form-control" placeholder="Date" />
                                    </div>
                                </div>

                          

                            <div class="row text-center pt-5">
                                    <div>
                                        <div onclick="filterTaskList()" class="btn btn-primary">Search</div>
                                        <button class="btn btn-danger" onclick="clearFilters()" href="javascript:void(0);"> Clear</button>
                                    </div>
                              
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row pt-10">
                <div class="col-md-12">
                    <div class="card text-center">
                       
                        <div class="card-body pt-0">
                            <div class="row pt-5">
                                <div class="col-md-6 text-start pl-5">
                                    <h1>Task List</h1>

                                </div>
                                <div class="col-md-6 text-end">
                                    <a class="btn btn-primary" asp-controller="Task" asp-action="TaskForm">Add Task</a>

                                </div>

                            </div>
                            <div class="row pt-5">
                                <div id="TaskListPartialView">
                                </div>
                            </div>

                           
                        </div>
                    </div>
                </div>
            </div>



        </div>

    </div>
    <!--end::Post-->
</div>
<!--end::Content-->
@section Scripts {

    <script>
        function fun1() {
            if (confirm("Are you sure you want to delete?")) {
                return true;
            }
            else {
                return false;
            }
        }
        document.getElementById('filterButton').addEventListener('click', function () {
            var filterCard = document.getElementById('filterCard');
            if (filterCard.style.display === 'none' || filterCard.style.display === '') {
                filterCard.style.display = 'block';
            } else {
                filterCard.style.display = 'none';
            }
        });

        filterTaskList();
        function filterTaskList() {
            
            $.ajax({
                type: 'GET',
                url: '/Task/GetTaskList',
                data: $("#taskformfilter").serializeArray(),
                success: function (response) {
                    debugger
                    $('#TaskListPartialView').html(response);
                },
                error: function (req, status, err) {
                    // Handle error during AJAX call

                }
            });
        }


        function clearFilters() {
        
            $('#taskformfilter')[0].reset();
         debugger
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetTaskList", "Task")',
                success: function (data) {
                    
                    $('#TaskListPartialView').html(data);
                },
                error: function (req, status, err) {
                    console.error("Error: ", err);
                    alert("An error occurred while fetching the task list.");
                }
            });
        }
    </script>

}